# Django
TEST=false
DOCS=true
DEBUG=true
SECRET_KEY='leviatano!debvlfmzm^dicdb9o8hjrmz@nd+%vt6xwni0tejcy&rrzl0ypalermo'
STATIC_URL=/static/
MEDIA_URL=/media/
ALLOWED_HOSTS=*
SSL=false
THROTTLE_RATE_TIME=1000/hour
LANGUAGE_CODE=en

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=leviatan
DATABASE_URL=psql://postgres:postgres@postgres:5432/leviatan

# Email
ADMIN_NAME=
ADMIN_EMAIL=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Celery
CACHE=redis:6379
BROKER_URL=redis://redis:6379

# Heroku
HEROKU_ENABLE=false

# SOCIAL AUTH
SOCIAL_AUTH_FACEBOOK_KEY=
SOCIAL_AUTH_FACEBOOK_SECRET=
