<!DOCTYPE HTML>
<html lang="es" hola_ext_inject="disabled">
<head>
  <style>
    @import url(https://fonts.googleapis.com/css?family=Lato);
    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
    body {
      font-family: 'Lato', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    a {
      text-decoration: none;
    }
    div > a:hover{
      text-decoration:  underline;
    }
  </style>
</head>

{% load static %}

<body>
  <div class="outer_email">
    <div>Hi <strong>{{ name }}</strong></div>

    <br/>

    <div>
      To reset your password <a href="{{ url }}" target="_blank">Please, enter here</a>.
    </div>

    <h1><img align="none" height="200" src="{% static "logo.png" %}"></span></h1>
  </div>
</body>
